/* Cover Index */
.cover-index {
    position: relative;
    display: block;
    background-image: url(/images/cover-index.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: calc(100% - 50px);
}

    .cover-index:before {
        content:'';
	    position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.6);
    }

    .cover-index > h1, .cover-index h3 {
        position: relative;
        display: inline-block;
        font-family: 'Montserrat';
        text-align: center;
        width: 100%;
        margin: 0px;
        margin-top: 150px;
        color: white;
    }

    .cover-index > h1 {
        font-size: 100px;
    }

/* Resumen Nostros */
.nosotros {
    position: relative;
    display: block;
    width: 100%;
    height: 200px;
}

    .nosotros > article {
        position: absolute;
        top: -150px;
        left: calc(50% - 400px);
        display: block;
        width: 800px;
        height: auto;
        padding: 50px;
        text-align: center;
        line-height: 35px;
        background-color: white;
        
    }

        .nosotros > article > h2 {
            margin-bottom: 30px;
        }

        .nosotros > article > p {
            margin: 0px;
        }

    .cover-nosotros {
        display: inline-block;
        width: auto;
    }

        .cover-nosotros > img {
            height: 100%;
        }

/* Gallery */
.gallery {
    display: grid;
    background-color: white;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 230px 230px;
    grid-gap: 15px;
    justify-content: center;
}

    .gallery > img {
        width: 100%;
        height: 100%;
    }

/* Ubicacion */
.ubicacion {
    margin: 20px 5%;
}

.map {
    position: relative;
}

    .map > img {
        width: 100%;
    }

    .map > article {
        position: absolute;
        background-color: white;
        width: 300px;
        height: auto;
        top: 0px;
        right: 0px;
        margin-top: 20px;
        margin-right: 50px;
        padding: 10px;
        padding-bottom: 50px;
    }

/* Destacados */
.destacados {
    width: 100%;
    margin: 50px 0px;
    text-align: center;
}

.destacados > .card {
    display: inline-block;
    margin: 20px 50px;
}

/* Responsive */
@media screen and (max-width: 1060px) {
    .nosotros {
        flex-direction: column;
        height: auto;
    }

    .cover-nosotros > img {
        max-height: 100%;
        max-width: 100%;
    }

    .ubicacion > .map > article {
        position: relative;
        width: auto;
        height: auto;
        margin: 0px;
        padding: 5px;
    }
}