body {
    background-color: #0E141B;
}

/* Cover Index */
.cover-index {
    background-image: url(../images/cover-index.jpg);
    height: calc(100% - 50px);
}

    .cover-index > h1 {
        font-size: 100px;
    }

    .cover-index > h3 {
        font-size: 30px;
    }

/* Resumen Nostros */
.nosotros {
    position: relative;
    display: block;
    width: 100%;
    height: 200px;
}

    .nosotros > article {
        position: absolute;
        top: -150px;
        left: calc(50% - 400px);
        display: block;
        width: 800px;
        height: auto;
        padding: 50px;
        text-align: center;
        line-height: 35px;
        background-color: #17202A;
        border-radius: 5px;
        color: white;
    }

        .nosotros > article > h2 {
            margin-bottom: 20px;
            padding-bottom: 5px;
            font-weight: 500;
            border-bottom: 3px solid orange;
        }

        .nosotros > article > p {
            margin: 0px;
            font-weight: 300;
        }

    .cover-nosotros {
        display: inline-block;
        width: auto;
    }

        .cover-nosotros > img {
            height: 100%;
        }

/* Gallery */
.gallery {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 300px 300px;
    grid-gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}

    .gallery > .g-item {
        position: relative;
    }

        .gallery > .g-item > .data-item {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            background-color: rgba(0,0,0,0.6);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 10px;
            opacity: 0;
            cursor: default;
            transition: opacity .3s;
        }

        .gallery > .g-item > .data-item:hover {
            opacity: 1;
        }

            .gallery > .g-item > .data-item > p, .gallery > .g-item > .data-item > h3 {
                color: white;
                font-family: 'Montserrat';
                text-align: center;
            }

        .gallery > .g-item > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

/* Nuestra Cocina */
.info-cocina {
    background-color: #17202A;
}

.info-platos {
    background-color: #DC7418;
}

.info-vegan {
    background-color: #A40E4C;
}

.info-with-photo {
    display: flex;
    height: 500px;
    color: white;
    margin: 30px;
    border-radius: 20px;
}

    .info-with-photo > article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

        .info-with-photo > article > h2 {
            font-family: 'Montserrat';
            width: 300px;
            text-align: center;
            margin-bottom: 30px;
            padding-bottom: 10px;
            border-bottom: 3px solid white;
        }

        .info-with-photo > article > p {
            font-family: 'Montserrat';
            font-size: 18px;
            line-height: 35px;
            width: 700px;
        }

    .info-with-photo > img {
        height: 100%;
        border-radius: 20px;
    }

/* Responsive */
@media screen and (max-width: 1500px) {
    .info-with-photo {
        height: 400px;
    }

        .info-with-photo > article > h2 {
            margin-bottom: 15px;
        }

        .info-with-photo > article > p {
            width: auto;
            padding: 0px 30px;
        }
}

@media screen and (max-width: 1120px) {
    .gallery {
        display: grid;
        grid-template-columns: 350px 350px;
        grid-template-rows: 230px 230px 230px;
        grid-gap: 15px;
        justify-content: center;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 970px) {
    .info-with-photo {
        flex-direction: column;
        height: auto;
    }

    .info-platos {
        flex-direction: column-reverse;
    }

    .info-with-photo > article {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 830px) {
    .cover-index{
        height: 70%;
    }

    .cover-index > h1 {
        font-size: 50px;
    }

    .nosotros {
        height: auto;
        margin-bottom: 30px;
    }

        .nosotros > article {
            position: relative;
            top: 0px;
            left: 0px;
            width: 100%;
        }

    .gallery {
        margin: 0px 10px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 200px 200px 200px;
        grid-gap: 5px;
    }

    .info-with-photo {
        margin: 10px;
    }
}

@media screen and (max-width: 400px) {
    .cover-index > h1 {
        font-size: 40px;
    }
}