body {
    background-color: #eeeae1;
}

.section-menu {
    text-align: center;
}

    .section-menu > h2 {
        margin-left: 50px;
        padding: 5px;
        padding-left: 20px;
        background-color: white;
        border-radius: 10px 0px 0px 10px;
        font-family: 'Montserrat';
        text-align: left;
    }

    .section-menu > .items-menu {
        text-align: center;
        margin: 30px auto;
        max-width: 1400px;
    }