body {
    background-color: #0E141B;
}

.cover-menu {
    background-image: url(../images/cover-menu.jpg);
}

.section-menu {
    text-align: center;
}

    .section-menu > h2 {
        margin-left: 50px;
        padding: 5px;
        padding-left: 20px;
        color: white;
        border-radius: 10px 0px 0px 10px;
        font-family: 'Montserrat';
        text-align: left;
    }

    .section-menu > .items-menu {
        text-align: center;
        margin: 30px auto;
        max-width: 1400px;
    }

.section-menu.desserts > h2 { background-color: #EB9447; }
.section-menu.main-food > h2 { background-color: #CA6A16; }
.section-menu.drinks > h2 { background-color: #A40E4C; }