.cover-nosotros {
    position: relative;
    display: block;
    background-image: url(../images/cover-nosotros.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50%;
}

    .cover-nosotros:before {
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.6);
    }

    .cover-nosotros > h1 {
        font-size: 50px;
    }

    .cover-nosotros > h1, .cover-nosotros h3 {
        position: relative;
        display: inline-block;
        font-family: 'Montserrat';
        text-align: center;
        width: 100%;
        margin: 0px;
        margin-top: 100px;
        color: white;
    }

.content-historia, .content-trayectoria {
    position: relative;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

    .info {
        width: 60%;
        font-family: 'Montserrat';
        text-align: center;
        margin-bottom: 30px;
        line-height: 35px;
    }

    .content-historia > img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .content-trayectoria {
        margin-top: 20px;
        margin-bottom: 50px;
    }

        .content-trayectoria > .info {
            padding: 30px;
        }

        .content-trayectoria > iframe {
            width: 1200px;
            height: 600px;
        }

@media screen and (max-width: 1200px) {
    .content-trayectoria > iframe {
        width: 90%;
        height: 500px;
    }
}
    
@media screen and (max-width: 600px) {
    .content-trayectoria > .info {
        padding: 30px;
        width: 90%;
    }
    .content-trayectoria > iframe {
        height: 400px;
    }
}