body {
    background-color: #0E141B;
}

.cover-nosotros {
    background-image: url(../images/cover-nosotros.jpg);
}

.content-historia, .content-trayectoria {
    position: relative;
    margin-top: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

    .info {
        width: 60%;
        font-family: 'Montserrat';
        text-align: center;
        margin-bottom: 30px;
        line-height: 35px;
    }

    .content-historia > img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

.content-trayectoria {
    margin-top: 20px;
    margin-bottom: 50px;
}

    .content-trayectoria > .info {
        padding: 30px;
        background-color: #17202A;
    }

    .content-trayectoria > iframe {
        width: 1200px;
        height: 600px;
    }

@media screen and (max-width: 1200px) {
    .content-trayectoria > iframe {
        width: 90%;
        height: 500px;
    }
}
    
@media screen and (max-width: 600px) {
    .content-trayectoria > .info {
        padding: 30px;
        width: 90%;
    }
    .content-trayectoria > iframe {
        height: 400px;
    }
}