/* Variables */
/* Mapa */
body {
  padding: 0px;
  margin: 0px;
}

/* Header */
header {
  display: block;
  height: 50px;
  background-color: white;
  text-align: right;
}

header > nav {
  display: inline-block;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > nav > a.nav-link {
  margin: 0px 5px;
  padding: 0px 1rem;
  border-radius: 20px;
  line-height: 35px;
  color: black;
  height: 35px;
  border-color: #E67E22;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 350ms ease-in-out;
  transition: color 350ms ease-in-out;
}

header > nav > a.nav-link:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #E67E22;
  z-index: -1;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
}

header > nav > a.nav-link:hover {
  color: #fff;
}

header > nav > a.nav-link:hover:after {
  width: 110%;
}

header > nav > a.nav-link.active {
  background-color: #E67E22;
  color: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(241, 196, 15, 0.7);
          box-shadow: 0px 0px 5px 0px rgba(241, 196, 15, 0.7);
}

.content-logo {
  float: left;
  width: 80px;
  height: 100%;
  text-align: left;
}

.content-logo > img {
  height: 100%;
}

.title-restaurante {
  display: block;
  width: 100%;
  margin: 20px 0px;
  text-align: center;
  font-family: 'Montserrat';
}

/* Footer */
.icons-redes {
  padding: 10px;
  text-align: right;
  background-color: powderblue;
}

.icons-redes > a > i {
  font-size: 35px;
}

.facebook--link {
  color: blue;
}

.twitter--link {
  color: dodgerblue;
}

.instagram--link {
  color: red;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 100px;
  background-color: #1a1915;
}

footer > ul > li {
  margin: 20px 0px;
  list-style: none;
}

footer > ul > li > a {
  color: white;
  text-decoration: none;
}

footer > form {
  float: right;
  color: white;
}

footer > form > fieldset {
  border: 2px solid #383B56;
  padding: 10px;
}

footer > form > fieldset .row {
  margin-bottom: 10px;
}

footer > form > fieldset .sec-enviar {
  margin-top: 10px;
}

/* Box Menu */
.box-menu {
  display: inline-block;
  background-color: white;
  width: 350px;
  height: auto;
  margin: 10px 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  border-radius: 10px;
  -webkit-box-shadow: 6px 5px 10px -6px rgba(0, 0, 0, 0.44);
          box-shadow: 6px 5px 10px -6px rgba(0, 0, 0, 0.44);
}

.box-menu > .foto {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

.box-menu > .foto > img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.box-menu > h3 {
  font-weight: 400;
  display: block;
  text-align: center;
  margin: 5px;
}

.box-menu > .descripcion {
  padding: 0px 10px;
}

.box-menu > .descripcion > p {
  text-align: center;
}

.content-image-no-disp {
  display: block;
  text-align: center;
  margin: 50px 0px;
  max-width: 90%;
}

@media screen and (max-width: 900px) {
  footer {
    height: 650px;
  }
  footer {
    padding: 20px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "nav social" "contact contact";
  }
  footer .ft-list-nav {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: nav;
  }
  footer .ft-list-social {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: social;
  }
  footer .ft-form-contact {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: contact;
  }
}

@media screen and (max-width: 520px) {
  #item_nav_rrhh {
    display: none;
  }
}
/*# sourceMappingURL=global.css.map */